*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Work Sans';
} 
.header-section {
	background: rgba(255, 144, 14, 0.10);
	padding: 50px 311px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h3{
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.manu{
   display: flex;
    list-style: none;
    
    
}
.manu li {
	padding-left: 55px;
}
.manu li a{
    color: #424242;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    line-height: 26px; 
}

.banner{
    margin: 0px auto;
}
.banner-text {
	width: 852px;
	margin: 85px auto;
	text-align: center;
}
.banner-text h3{
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-text p {
	color: #727272;
	text-align: center;
	font-family: Work Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	margin-top: 10px;
}
.banner-img{
    text-align: center;
}
.banner-img img{
   width: 100%;
   border-radius: 5px;
}
.btn-primary {
	color: #FFF;
	text-align: center;
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 600;
	border-radius: 8px;
	background: #FF900E;
	padding: 20px 25px;
	border: none;
	margin-top: 34px;
}
/* about-section */
main {
    width: 1320px;
    margin: 50px auto;
}
.about-section {
	display: flex;
	align-items: center;
	gap: 50px;
}
.main-imges{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.main-imges img{
    width: 100%;
    height: 100%;
}
.main-content{}
.main-content h3{
    width: 468px;
}
.main-content p{
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    width: 537px;
}
.graye{
    color: #727272;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 500;
}
.grays{
    color:  #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    
  
}
.grayest{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;

}
/* festure-section */
.festure-section {
	display: flex;
	margin: 50px 0px;
	gap: 200px;
}
.festure-text{
    margin-bottom: 8px;
}
.festure-text h1{
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    width: 468px;
    margin-bottom: 8px;
}
.festure-text p{
    color:  #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 586px;
    
}
.fesuter-grop {
	border-radius: 8px;
	background: #FFF;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
	margin-bottom: 12px;
	padding: 15px;
}
.fesuter-grop h3{
    color: #131313;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
.fesuter-grop p{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 514px;
}
.festure-img{}
.festure-img img{
    border-radius: 5px;
}

.big-btn {
	width: 342px;
	height: 200px;
	flex-shrink: 0;
	border-radius: 8px;
	background: #FF900E;
	text-align: center;
	position: relative;
	bottom: 100px;
	left: -128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big-btn h1{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 70px; 
}
.big-btn p{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}
.some{}
.some-box{
    display: flex;
    justify-content: space-around;
}
/* fact-section */
.fact-section{}
.some-text{
   
}

.some-text h3{
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.some-text p{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    width: 542px;
    margin-top: 20px;
}
.some{
    margin-top: 80px;
}
.some-1 {
	text-align: center;
	border-radius: 8px;
	border: 1px solid #FF900E;
	padding: 50px;
}
.some-1 img{
    margin-bottom: 10px;
}
.some-1 h3{
    color: #424242;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 10px;
}
.some-1 p{
    color: #727272;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}
/* our-section */
.our-section{
    margin-top: 80px;
}
.our-text{
    text-align: center;
}
.our-text h3{
    color:  #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;

}
.our-text p{
    width: 542px;
    color: #727272;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin: 10px auto;
}

.amazon{
    display: flex;
    justify-content: space-between;
    
}
.amazon img{
    width: 165.833px;
    height: 50px;
    
}

footer{
    width: 1320px;
    margin: auto;
}
.footer-text {
	padding-bottom: 170px;
	padding-top: 120px;

}
.footer-text p {
	color: #424242;
	text-align: center;
	font-family: Work Sans;
	font-size: 20px;
	font-weight: 400;
	border-radius: 8px;
	background: #FFF4E7;
	height: 100px;
	line-height: 100px;
}
@media screen  and (max-width:576px){
    nav {
        flex-direction: column;
    }
    .header-section {
        padding: 40px 10px;
    }
    .banner-text {
        width: 533px;
        margin: 63px auto;
    }
    .manu {
        margin-top: 25px;
    }
  
    .main-imges {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }
    .about-section {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .main-imges img {
        width: 41%;
        height: 100%;
        border-radius: 5px;
    }
    .festure-section {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .festure-img img {
        border-radius: 5px;
        width: 41%;
    }
    .festure-text p {
        width: 531px;
    }
    .big-btn {

        position: relative;
        bottom: 0px;
        left: 0px;
        display: flex;
        margin-top: 10px;
    }
    .some-box {
        flex-direction: column;
        width: 41%;
        padding: 17px;
    }
    .some-1 {
        margin-bottom: 10px;
    }
    .our-text {
        text-align: left;
    }
    .our-text p {
        padding: 20px;
    }
    .our-text h3 {

        padding: 20px;
    }
    .our-text p {
        text-align: left;
        margin: 10px;
        margin-right: 170px;
    }
    .amazon {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

}
.amazon img {
	width: 165.833px;
	height: 50px;
	margin-bottom: 20px;
	text-align: center;
}